<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading panel-success">
            {{jobName}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-bordered table-condensed pull-left">
                        <tr>
                            <td>Last Executed</td>
                            <td>{{lastRun}}</td>
                        </tr>
                        <tr>
                            <td>Tests Passed</td>
                            <td>{{passed}}</td>
                        </tr>
                        <tr>
                            <td>Tests Failed</td>
                            <td>{{failed}}</td>
                        </tr>
                        <tr>
                            <td>Tests Skipped</td>
                            <td>{{skipped}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                <base-chart class="chart"
                        [datasets]="doughnutChartData"
                        [colors]="doughnutChartColors"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [options]="doughtnutChartOptions"></base-chart>
                </div>
            </div>
        </div>
    </div>
<div>